.App {
  text-align: center;
}

.AllRuneContainers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 2em;

  margin-bottom: 300px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
  
  
}

.RuneContainer{
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.6fr 1fr 0.4fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "."
    "."
    "."; 

  border: 2px solid #c06e31;
  border-radius: 10px;

  width: 8em;
  height: 8em;

  align-items: center;
  justify-content: space-between;
}

.RuneButtonContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 2px;
}

/* Chrome fix */
.RuneImageContainer{
  overflow: hidden;
}
.RuneImage{
  /* width: 100%;
  height: 100%;
  object-fit: contain; */

  /* fit to container */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button{
  background-color: #c06e31;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  min-width: 30px;
  border: none;
  text-decoration: none;
}

button:hover{
  background-color: #e7c891;
}

.StickyFooter{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6em;
  background-color: #221402;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}