.App {
  text-align: center;
}

.AllRuneContainers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 2em;

  @media (max-width: 768px) {
    flex-direction: column;
  }
  
}

.RuneContainer{
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1.6fr 0.4fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "."
    "."; 

  border: 2px solid black;

  width: 8em;
  height: 8em;

  align-items: center;
  justify-content: space-between;
}

.RuneButtonContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
}

button{
  background-color: #fffc4f;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  min-width: 30px;
}